@model List<LastCard>
<div class="card-body">

    <div class="table-responsive pt-3">
        <div class="my-2">
            <a asp-controller="lastCard" asp-action="create" class="btn btn-outline-info">Create LastCard</a>
        </div>
        <table class="table table-dark">
            <thead>

                <tr>

                    <th>
                        Id
                    </th>
                    <th>
                       Icon
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Subtitle
                    </th>

                    <th>
                        Settings
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (LastCard lastCard in Model)
                {
                <tr>
                    <td>
                        @lastCard.Id
                    </td>
                    <td>
                        @lastCard.Title
                    </td>
                    <td>
                        @if (lastCard.Subtitle.Length >= 30)
                        {
                            @(lastCard.Subtitle.Substring(0, 30).ToString() + "...");
                        }
                        else
                        {
                            @lastCard.Subtitle
                        }
                    </td>

                    <td class="d-flex align-items-center" style="height:100%">
                        <div class="detail" >
                            <a class="btn btn-outline-primary" asp-controller="lastCard" asp-action="detail" asp-route-id="@lastCard.Id">Detail</a>
                        </div>
                        <div class="edit ms-2">
                            <a class="btn btn-outline-warning" asp-controller="lastCard" asp-action="edit" asp-route-id="@lastCard.Id">Edit</a>
                        </div>
                        <div class="delete ms-2">
                            <a class="btn btn-outline-danger" asp-controller="lastCard" asp-action="delete" asp-route-id="@lastCard.Id">Delete</a>
                        </div>

                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</div>
