@model ServiceVM
@{
    ViewData["Title"] = "Index";
}
 <main>
        <section id="service">
            <div class="cards mt-4">
                <div class="container">
                    <div class="row">
                        @foreach (Card card in Model.Cards)
                       {
                            <div class="card col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
                            <div class="icons">
                                <i class="@card.Icon"></i>
                            </div>
                            <div class="title">
                                <h2><a href="#">@card.Title</a></h2>
                            </div>
                            <div class="description">
                                <p>@card.Subtitle</p>
                            </div>
                        </div> 
                        }
                    </div>
                </div>
            </div>
        </section>
        <section id="skills">
            <div class="container">
                <div class="row">
                  <div class="title text-center">
                      <h2>@Model.Statistics.Title</h2>
                      <div class="box"></div>
                  </div>
                  <div class="description text-center">
                      <p>@Model.Statistics.Subtitle</p>
                  </div>
                 
                </div>
              <div class="info">
                  <div class="row">               
                      <div class="img col-lg-6 col-md-12 col-sm-12">
                          <img src="@Model.Statistics.Image" alt="">
                      </div>
                      <div class="skill col-lg-6">
                          <div class="title">
                              <h2>@Model.Statistics.DiagramTitle</h2>
                          </div>
                          <div class="information">
                              <p> <i>@Model.Statistics.DiagramSubtitle</i> </p>
                          </div>
                          
                          <div class="values d-flex justify-content-between">
                              <span><b>HTML</b></span>
                              <span><b>100%</b></span>
                              </div>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">@layoutService.GetDatas().Result.FirstOrDefault(p=>p.Key.ToLower().Trim() == "html").Value%</div>
                              </div>
                          
                            <div class="values d-flex justify-content-between">
                            <span><b>CSS</b></span>
                            <span><b>55%</b></span>
                        </div>
                          <div class="progress">
                              <div class="progress-bar bg-danger" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">@layoutService.GetDatas().Result.FirstOrDefault(p=>p.Key.ToLower().Trim() == "css").Value%</div>
                            </div>
                      
                            <div class="values d-flex justify-content-between">
                            <span><b>JavaScript</b></span>
                            <span><b>90%</b></span>
                        </div>
                          <div class="progress">
                              <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">@layoutService.GetDatas().Result.FirstOrDefault(p=>p.Key.ToLower().Trim() == "javascript").Value%</div>
                            </div>
                        
                        <div class="values d-flex justify-content-between">
                            <span><b>PhotoShop</b></span>
                            <span><b>55%</b></span>
                        </div>
                          <div class="progress">
                              <div class="progress-bar bg-danger" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">@layoutService.GetDatas().Result.FirstOrDefault(p=>p.Key.ToLower().Trim() == "photoshop").Value%</div>
                            </div>
                       
                          
                        </div>
                        </div>
                        </div>
                        </div>
        </section>
        <section id="search">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <h4>@Model.News.Title</h4>
                        <p>@Model.News.Subtitle</p>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <form action="">
                            <input type="email" name="" id="">
                            <button class="btn btn-danger subs">Subscribe</button>
                        </form>
                    </div>
                </div>

        </section>
      </main>

